*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-decoration: none;
}

.header{
  background-color: skyblue;
  line-height: 70px;
  padding-left: 30px;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 999
}

.header .heading a{
  font-size: 25px;
}


.logout{
  float: right;
  
  margin-right: 30px;
}

.logout a { 
  background-color: #3d1a64; 
  color: white; 
  padding: 15px 25px; 
  text-decoration: none;
}

ul{
  background-color: #424a5b;
  width: 16%;
  height: 100%;
  position: fixed;
  padding-top: 5%;
  text-align: center;
}

ul li{
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 20px;
}

ul li a{
  color: white;
  font-weight: bold;
}

ul li:hover{
  background-color: red;
  background-size: 100%;
  font-size:25px;

  
}

.main{
  margin-top: 4%;
  margin-left: 20%;
}


